@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}

/* Import Arial font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Wet+Paint&display=swap');

P {
    font-family: 'Arial', 'Roboto', sans-serif;
    }
    
/* Body */
body {
    background-color: #272725;
    color: white;
    font-size: larger;
    overflow-y: scroll; /* Always show scrollbar */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: #ff82b1;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 3em;
}

/* Text Elements */
p, a, span, div {
    color: white;
    font-family: sans-serif;
}

/* Images */
img {
    border-radius: 30px;
    margin: 10px;
    max-width: 100%;
}

/* Links */
:any-link {
    color: #fff79f;
    text-decoration: none;
}
a:hover {
    color: #fffb00;
    animation-name: hover_zoom;
    animation-duration: 100ms;
    position: relative;
    animation-fill-mode: forwards;
    cursor: pointer; /* Add a mouse pointer on hover */
}

/* Buttons */
button {
    background-color: rgba(255, 130, 178, 0);
    color: #fdff83;
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
    button:hover {
        animation-name: hover_zoom;
        animation-duration: 100ms;
        position: relative;
        animation-fill-mode: forwards;
        cursor: pointer; /* Add a mouse pointer on hover */
    }

/* NAVIGATION BAR & TITLE*/
#site_name {   
    background-color: #32322d;
    padding-top: 30px;
    font-size: 2em;
}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
    background-color: #32322d;
    box-shadow: 0 16px 10px 5px rgba(0, 0, 0, 0.028);
}

/* BOX */
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    max-width: 800px;
    font-size: larger;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.097);

    /* FORMATTING */
    margin-left: auto;
    margin-right: auto;
    background-color: #32322d;
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 30px;
}

/* INTRO */
#intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #32322d;
    border-radius: 30px;
}
#portrait {
    grid-column: 1 / 2;
    max-width: 100%;
    border-radius: 30px;
}
#intro .about-me, #intro .skills {
    grid-column: 2 / 3;
}
.name {
    text-align: center;
    vertical-align: top;
}

/* TABLE OF CONTENTS */
.toc {
    padding: 20px;
    margin: auto;
}
.toc ul {
    padding-left: 25%;
}

/* IMAGE GALLERY GRID */
.gallery {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    justify-items: center;
}
.gallery img { /* TODO: make load on time with javazscript*/
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    image-rendering: pixelated;
    animation: forwards zoom-in 0.5s;
}
.image-wide {
    width: 100%;
    max-width: 100%;
    grid-column: 1 / span 3;
}

/* FILM MAKING */
.caption {
    text-align: center;
    font-size: 0.5em;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.video-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
    animation: zoom-in 0.5s;
}
.video-item iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}
.flex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 800px) {
    #intro {
        grid-template-columns: 1fr;
    }
    #portrait {
        width: 100px; /*! WHY DOES THIS NOT WORK? */
    }
    #intro #portrait, #intro .about-me, #intro .skills {
        grid-column: 1 / -1;
    }
    #film-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    nav {
        flex-direction: column;
    }
    .responsive {
        flex-direction: column;
        align-items: center;
    }
}

/* ANIMATIONS */
@keyframes hover_zoom {
    0% {
        transform: scale(1);
        text-shadow: none;
    }
    100% {
        transform: scale(1.1);
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.471);
    }
}
@keyframes zoom-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* RETURN TO TOP BUTTON */
#topBtn {
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; 
    right: -100px; 
    border: 4px solid #272725; 
    background-color: #32322d; 
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 100px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
#topBtn img {
    border-radius: 0px;
    filter:grayscale(100%);
}    
#topBtn:hover img {
    filter: grayscale(0%);
}
#topBtn:hover {
    border-color: #fdff83;
    border-width: 4px;
    border-style: solid;
}

/* CONTACT */ /* TODO: Make navbar gell with elements of this page. Temp fix is to just make them absolute. */
#contact_Portrait {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 200px; 
    border-radius: 400px;
    border: 30px solid #32322d;
    z-index: 8; /* Ensure it is on top of other elements */
    position: relative;
    box-shadow: 0px -19px 10px 0.1px rgba(0, 0, 0, 0.097);
}
#contact {
    box-shadow: none;
    display: flex; 
    flex-direction: column; 
    max-width: 500px;
    position:relative;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.097);
    padding-top: -10px;
    margin-top: -130px;
}
#contact div ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* PROJECTS */
.readmore {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* FLORAHIVE */
#FloraHive-Screenshots {
    display: row;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    max-width: 300px;
}
#FloraHive-Screenshots div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}