@charset "utf-8";
* {
    padding: 0;
    margin: 0;
}
/* Body */
body {
    background-color: #272725;
    color: white;
    font-family: sans-serif;
    font-size: larger;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: #ff82b1;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 3em;
}

/* Text Elements */
p, a, span, div {
    color: white;
    font-family: sans-serif;
}

/* Images */
img {
    border-radius: 30px;
    margin: 10px;
    max-width: 100%;
}

/* Links */
:any-link {
    color: #fff79f;
}
:any-link:hover {
    color: #fffb00;
    animation-name: hover_zoom;
    animation-duration: 100ms;
    position: relative;
    animation-fill-mode: forwards;
}

/* Buttons */
button {
    background-color: rgba(255, 130, 178, 0);
    color: #fdff83;
    border: none;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
    button:hover {
        animation-name: hover_zoom;
        animation-duration: 100ms;
        position: relative;
        animation-fill-mode: forwards;
    }
/* NAVIGATION BAR & TITLE*/
#site_name {   
    background-color: #32322d;
    padding-top: 30px;
    font-size: 2em;
}
nav {
    border-radius: 0px;
    justify-content: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #32322d;
    padding-bottom: 20px;
    padding-top: 30px;
    box-shadow: 0 16px 10px 5px rgba(0, 0, 0, 0.028);

}
/* BOX */
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    max-width: 800px;
    font-size: larger;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.097);

    /* FORMATTING */
    margin-left: auto;
    margin-right: auto;
    background-color: #32322d;
    border-radius: 30px;
    padding: 40px;
    margin-bottom: 30px;
}
/* INTRO */
#intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #32322d;
    border-radius: 30px;
    padding: 50px;
}
#intro .portrait {
    grid-column: 1 / 2;
}
#intro .about-me, #intro .skills {
    grid-column: 2 / 3;
}
.name {
    text-align: center;
    vertical-align: top;
}
/* TABLE OF CONTENTS */
.toc {
    padding: 20px;
    margin: auto;
}
.toc ul {
    padding-left: 25%;
}
/* PORTRAIT */
.portrait {
    max-width: 100%;
    min-width: 100%;
    border-radius: 30px;
    padding-bottom: 0;
}
/* Responsive adjustments */
@media screen and (max-width: 800px) {
    #intro {
        grid-template-columns: 1fr;
    }
    #intro .portrait, #intro .about-me, #intro .skills {
        grid-column: 1 / -1;
    }
    .toc ul {
        padding-left: 0;
    }
    #film-grid {
        @media screen and (max-width: 800px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}
/* IMAGE GALLERY GRID */
.gallery {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    justify-items: center;
}
.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    image-rendering: pixelated;
}
.image-wide {
    width: 100%;
    max-width: 100%;
    grid-column: 1 / span 3;
}
/* FILM MAKING */
.caption {
    text-align: center;
    font-size: 0.5em;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}
.video-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    text-align: center;
}
.video-item iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}
.flex-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* RESPONSIVE */
.responsive {
    max-width: 100%;
    height: auto;
}

/* RESPONSIVE IMAGE */
@media screen and (max-width: 800px) {
    .responsive {
        max-width: 100%;
    }
}

/* ANIMATION */
@keyframes hover_zoom {
    0% {
        transform: scale(1);
        text-shadow: none;
    }
    100% {
        transform: scale(1.1);
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.471);
    }
}
#topBtn { /* TODO: make not blip into existence */
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: -100px; /* Place the button 30px from the right */ /*! WHY DOES THIS NOT WORK? */
    border: 4px, solid, #272725; /* Remove borders */
    background-color: #32322d; /* Add a dark-grey background on hover */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 100px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
#topBtn img {
    border-radius: 0px;
    filter:grayscale(100%);
}    
#topBtn:hover img {
    filter: grayscale(0%);
}
#topBtn:hover {
    border-color: #fdff83;
    border-width: 4px;
    border-style: solid;
}
#contact_Portrait {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 300px; 
    border-radius: 500px;
    box-shadow: 0 0 0 40px #32322d;
}
#contact div ul { /* TODO: fix list style */
    list-style-type: none;
    padding: 0;
    margin: 0;
}